*{
    margin: 0;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: black;
    margin: 20px 0 0;
}
nav{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(64, 19, 19);
    margin-top: 20px;
    cursor: pointer;
}
nav button {
    background-color: inherit;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}
span{
    display: block;
}
.canvas{
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
}
.button{
display: table-cell;
height: 200px;
width: 200px;
border: 2px solid #333;
cursor: pointer;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
h2{
    text-align: center;
}